<!DOCTYPE html>
{% set title = title is defined ? title : (entry is defined ? entry.title: null) %}
{% set dev_cache_bust = craft.config.devMode ? '?' ~ random() : '' %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if title %}{{ title }} - {% endif %}{{ siteName }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="google-site-verification" content="hbqvrQMid1Tpy4mlqi-wtEVGpcZ-tlZ5P_28dOhUgQU">

        {# TODO: Canonical URL #}
        <link rel="canonical" href="">

        {# TODO: Apple icons #}
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
        <meta name="application-name" content="Faith Promise Church">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png">

        {# TODO: Social tags (see old site) #}

        <!-- Fonts -->
        <script src="https://use.typekit.net/vyb6fjv.js"></script>
        <script>try {Typekit.load({ async: false });} catch (e) {}</script>

        {# TODO: Prefix with CDN url when in production #}
        {% set cdn_url = craft.config.devMode ? '' : '' %}
        <link rel="stylesheet" href="{{ cdn_url }}{{ '/build/main.css' ~ dev_cache_bust | cacheBuster }}">
        {{ getHeadHtml() }}

        <link rel="home" href="{{ siteUrl }}">
    </head>

    <body>

        {# TODO: Include Google Analytics #}
        {# TODO: Facebook SDK #}

        <div id="app" class="Layout">

            {% set nav_class = nav_class is defined ? 'Nav ' ~ nav_class : 'Nav' %}

            {# Remove 'Nav--overlay' when nav is open #}
            <nav :class="is_nav_open ? 'Nav Nav--fixed' : '{{ nav_class }}'">
                <div class="Nav-bg"></div>
                <div class="Nav-container">
                    <a id="to_home_from_headerLogo" class="Nav-logo" href="/" title="Return to Home Page">
                        <svg>
                            <use xlink:href="/assets/logos.svg#logo"></use>
                        </svg>
                    </a>
                    <transition name="transition">
                        <ul class="Nav-menu" v-show="!is_nav_open">
                            <li class="Nav-item"><a class="Nav-link" href="/locations">Locations</a></li>
                            <li class="Nav-item"><a class="Nav-link" href="/sermons">Sermons</a></li>
                            <li class="Nav-item"><a class="Nav-link" href="/what-to-expect">About</a></li>
                            <li class="Nav-item"><a class="Nav-link" href="/give">Give</a></li>
                        </ul>
                    </transition>
                    <span class="Nav-toggle" @click="nav_toggle">
                        <svg>
                            <use xlink:href="/assets/icons.svg#menu" :xlink:href="'/assets/icons.svg#' + toggle_icon"></use>
                        </svg>
                    </span>
                </div>
            </nav>

            {% cache globally using key 'full_nav' %}
            {% set latest_sermon = craft.entries({ type: 'sermon', with: 'series' }).order('sermonDate DESC').first() %}
            <transition name="transition">
                <div class="FullNav" v-show="is_nav_open">
                    <div class="FullNav-container">
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Locations</h5>
                            <a class="FullNav-link" href="/locations/anderson">Anderson</a>
                            <a class="FullNav-link" href="/locations/campbell">Campbell</a>
                            <a class="FullNav-link" href="/locations/blount">Blount</a>
                            <a class="FullNav-link" href="/locations/farragut">Farragut</a>
                            <a class="FullNav-link" href="/locations/north">North Knox</a>
                            <a class="FullNav-link" href="/locations/pellissippi">Pellissippi</a>
                            <a class="FullNav-link" href="/online">Online Campus</a>
                            <a class="FullNav-link" href="/locations">View All</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Sermons</h5>
                            <a class="FullNav-link" href="/sermons">Past Sermons</a>
                            <a class="FullNav-link" href="{{ latest_sermon.url }}">Latest Sermon</a>
                            <a class="FullNav-link" href="https://itun.es/us/tfmeeb.c">Podcast</a>
                            <a class="FullNav-link" href="/online">Online Campus</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Events</h5>
                            <a class="FullNav-link" href="/events">Upcoming Events</a>
                            <a class="FullNav-link" href="/missions">Mission Trips</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">About</h5>
                            <a class="FullNav-link" href="/what-to-expect">What to Expect</a>
                            <a class="FullNav-link" href="/fpkids">Kids</a>
                            <a class="FullNav-link" href="/fpstudents">Students</a>
                            <a class="FullNav-link" href="/worship">Worship</a>
                            <a class="FullNav-link" href="/staff">Meet Our Staff</a>
                            <a class="FullNav-link" href="/beliefs-and-values">Beliefs &amp; Values</a>
                            <a class="FullNav-link" href="/jobs">Staff Openings</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Next Steps</h5>
                            <a class="FullNav-link" href="/next-steps-class">Next Steps Class</a>
                            <a class="FullNav-link" href="/salvation">Salvation</a>
                            <a class="FullNav-link" href="/baptism">Baptism</a>
                            <a class="FullNav-link" href="/groups">Groups</a>
                            <a class="FullNav-link" href="/serving">Serving</a>
                            <a class="FullNav-link" href="/giving">Giving</a>
                            <a class="FullNav-link" href="/core">Core Membership</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Care</h5>
                            <a class="FullNav-link" href="/counseling">Counseling</a>
                            <a class="FullNav-link" href="/stephen">Stephen Ministry</a>
                            <a class="FullNav-link" href="/celebrate">fpCelebrate</a>
                            <a class="FullNav-link" href="/prayer">Prayer</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Giving</h5>
                            <a class="FullNav-link" href="/give">Why Give</a>
                            <a class="FullNav-link" href="https://fpctystn.infellowship.com/onlinegiving/history">Give Online</a>
                            <a class="FullNav-link" href="/h4h">Heart for the Harvest</a>
                            <a class="FullNav-link" href="https://www.dropbox.com/sh/pfdg2k1evnwog27/AABafL6ntVlejTnSaLZcUqoFa?dl=0&lst=">Financial Statements</a>
                        </div>
                    </div>
                </div>
            </transition>
            {% endcache %}

            <transition name="transition">
                <div class="Layout-content" v-show="!is_nav_open">
                    {% block content %}{% endblock %}
                </div>
            </transition>

            <div class="Footer" v-show="!is_nav_open" v-cloak>
                <div class="Footer-container">

                    <div class="Footer-section">
                        <h5 class="Footer-heading">Times &amp; Locations</h5>
                        <ul class="Footer-nav">
                            <li><a class="Footer-link" href="/locations/pellissippi">Pellissippi</a></li>
                            <li><a class="Footer-link" href="/locations/blount">Blount</a></li>
                            <li><a class="Footer-link" href="/locations/north">North Knox</a></li>
                            <li><a class="Footer-link" href="/locations/anderson">Anderson</a></li>
                            <li><a class="Footer-link" href="/locations/campbell">Campbell</a></li>
                            <li><a class="Footer-link" href="/locations">View All</a></li>
                        </ul>
                    </div>

                    <div class="Footer-section">
                        <h5 class="Footer-heading">About</h5>
                        <ul class="Footer-nav">
                            {#<li>#}
                            {#<a class="Footer-link" id="to_locations_from_footer" href="/locations">Times &amp; Locations</a>#}
                            {#</li>#}
                            <li>
                                <a class="Footer-link" id="to_updates_from_footer" href="/what-to-expect">What to Expect</a>
                            </li>
                            <li><a class="Footer-link" href="/fpkids">Kids</a></li>
                            <li><a class="Footer-link" href="/fpstudents">Students</a></li>
                            <li><a class="Footer-link" id="to_events_from_footer" href="/events">Events</a></li>
                            <li>
                                <a class="Footer-link" id="to_blog_from_footer" href="http://blog.faithpromise.org">Blog</a>
                            </li>
                            <li><a class="Footer-link" id="to_jobs_from_footer" href="/jobs">Jobs</a></li>
                        </ul>
                    </div>

                    <div class="Footer-section">
                        <h5 class="Footer-heading">Follow Us</h5>
                        <ul class="Footer-nav">
                            <li><a class="Footer-link" href="https://www.facebook.com/{{ socialHandles.facebook }}">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#facebook"></use>
                                    </svg>
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a class="Footer-link" href="https://instagram.com/{{ socialHandles.instagram }}">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#instagram"></use>
                                    </svg>
                                    Instagram
                                </a>
                            </li>
                            <li>
                                <a class="Footer-link" href="https://twitter.com/{{ socialHandles.twitter }}">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#twitter"></use>
                                    </svg>
                                    Twitter
                                </a>
                            </li>
                            <li>
                                <a class="Footer-link" href="https://vimeo.com/{{ socialHandles.vimeo }}">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#vimeo"></use>
                                    </svg>
                                    Vimeo
                                </a>
                            </li>
                            <li>
                                <a class="Footer-link" href="https://soundcloud.com/{{ socialHandles.soundcloud }}">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#soundcloud"></use>
                                    </svg>
                                    Soundcloud
                                </a>
                            </li>
                            <li>
                                <a class="Footer-link" href="/updates">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#newsletter"></use>
                                    </svg>
                                    Email Updates
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="Footer-section">
                        <h5 class="Footer-heading">Mailing address:</h5>
                        <div class="Footer-address">
                            <div>10740 Faith Promise Lane</div>
                            <div>Knoxville, TN 37931</div>
                        </div>
                        <div>
                            <a href="mailto:office@faithpromise.org">office@faithpromise.org</a>
                        </div>
                        <div>
                            <a href="tel:1-865-251-2590" class="no-wrap">(865) 251-2590</a>
                        </div>
                    </div>

                </div>

                <div class="Footer-end">
                    <a class="Footer-logoWrap" href="/">
                        <svg class="Footer-logo">
                            <use xlink:href="/assets/logos.svg#logo"></use>
                        </svg>
                        <div class="Footer-logoCover"></div>
                        <svg class="Footer-mark">
                            <use xlink:href="/assets/logos.svg#mark"></use>
                        </svg>
                    </a>
                </div>

            </div>

            <portal-target name="modal"></portal-target>

        </div>

        <script type="text/javascript">
            window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
            window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
        <script src="//unpkg.com/axios@0.16.1/dist/axios.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>

        {{ getFootHtml() }}

        <script src="{{ '/build/main.js' ~ dev_cache_bust | cacheBuster }}"></script>

        {% if craft.config.craftEnv == 'live' %}
            <!-- Google Tag Manager -->
            <noscript>
                <iframe src="//www.googletagmanager.com/ns.html?id=<?= config('site.google_tag_manager_id') ?>" height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <script>
                (function (w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
                    var f   = d.getElementsByTagName(s)[0],
                        j   = d.createElement(s),
                        dl  = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src   = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-T6L864');
            </script>
            <!-- End Google Tag Manager -->
        {% endif %}

        {{ craft.querylog is defined ? (craft.querylog | raw) : '' }}

    </body>
</html>
