{% set nav_class = nav_class is defined ? 'Nav ' ~ nav_class : 'Nav Nav--overlay' %}

{# Remove 'Nav--overlay' when nav is open #}
<nav :class="is_nav_open ? 'Nav Nav--fixed' : '{{ nav_class }}'">
    <div class="Nav-bg"></div>
    <div class="Nav-container">
        <div class="Nav-inner">
            <a class="Nav-logo" href="/" title="Return to Home Page">
                <svg role="img">
                    <use xlink:href="{{ assets_base_url }}/assets/logos.svg#mark"></use>
                </svg>
            </a>
            <transition name="transition">
                <ul class="Nav-menu" v-show="!is_nav_open">
                    <li class="Nav-item"><a class="Nav-link" href="{{ base_url }}/locations">Locations</a></li>
                    <li class="Nav-item"><a class="Nav-link" href="{{ base_url }}/sermons">Sermons</a></li>
                    <li class="Nav-item"><a class="Nav-link" href="{{ base_url }}/what-to-expect">About</a></li>
                    <li class="Nav-item"><a class="Nav-link" href="{{ base_url }}/give">Give</a></li>
                </ul>
            </transition>
            <span class="Nav-toggle" @click="nav_toggle">
                <svg role="img">
                    <use xlink:href="{{ assets_base_url }}/assets/icons.svg#menu" :xlink:href="'{{ assets_base_url }}/assets/icons.svg#' + toggle_icon"></use>
                </svg>
            </span>
        </div>
    </div>
</nav>

{% cache globally using key 'full_nav' %}

{% set latest_sermon = craft.entries({ type: 'sermon', with: 'series' }).order('sermonDate DESC').first() %}
<transition name="transition">
    <div class="FullNav" v-show="is_nav_open" v-cloak>
        <div class="FullNav-container">
            <div class="FullNav-category">
                <h5 class="FullNav-heading">About</h5>
                <a class="FullNav-link" href="{{ base_url }}/locations">Find a Location</a>
                <a class="FullNav-link" href="{{ base_url }}/what-to-expect">What to Expect</a>
                <a class="FullNav-link" href="{{ base_url }}/fpkids">Kids</a>
                <a class="FullNav-link" href="{{ base_url }}/fpstudents">Students</a>
                <a class="FullNav-link" href="{{ base_url }}/worship">Worship</a>
                <a class="FullNav-link" href="{{ base_url }}/staff">Meet Our Staff</a>
                <a class="FullNav-link" href="{{ base_url }}/beliefs-and-values">Beliefs &amp; Values</a>
                <a class="FullNav-link" href="{{ base_url }}/jobs">Staff Openings</a>
            </div>
            <div class="FullNav-category">
                <h5 class="FullNav-heading">Sermons</h5>
                <a class="FullNav-link" href="{{ base_url }}/sermons">Past Sermons</a>
                <a class="FullNav-link" href="{{ latest_sermon.url }}">Latest Sermon</a>
                <a class="FullNav-link" href="https://itun.es/us/tfmeeb.c">Podcast</a>
                <a class="FullNav-link" href="{{ base_url }}/online">Online Campus</a>
            </div>
            <div class="FullNav-category">
                <h5 class="FullNav-heading">Events</h5>
                <a class="FullNav-link" href="{{ base_url }}/events">Upcoming Events</a>
                <a class="FullNav-link" href="{{ base_url }}/missions">Mission Trips</a>
            </div>
            <div class="FullNav-category">
                <h5 class="FullNav-heading">Groups</h5>
                <a class="FullNav-link" href="{{ base_url }}/groups">Learn About Groups</a>
                <a class="FullNav-link" href="{{ base_url }}/groups/search">Find a Group</a>
                <a class="FullNav-link" href="{{ base_url }}/groups/new-leader">Lead a Group</a>
                <a class="FullNav-link" href="{{ base_url }}/groups/leaders">Resources for Leaders</a>
            </div>
            <div class="FullNav-category">
                <h5 class="FullNav-heading">Missions</h5>
                <a class="FullNav-link" href="{{ base_url }}/missions">Mission Trips</a>
                <a class="FullNav-link" href="{{ base_url }}/love-local">Local Opportunities</a>
            </div>
            <div class="FullNav-category">
                <h5 class="FullNav-heading">Next Steps</h5>
                <a class="FullNav-link" href="{{ base_url }}/next-steps-class">Next Steps Class</a>
                <a class="FullNav-link" href="{{ base_url }}/salvation">Salvation</a>
                <a class="FullNav-link" href="{{ base_url }}/baptism">Baptism</a>
                <a class="FullNav-link" href="{{ base_url }}/groups">Groups</a>
                <a class="FullNav-link" href="{{ base_url }}/serving">Serving</a>
                <a class="FullNav-link" href="{{ base_url }}/giving">Giving</a>
                <a class="FullNav-link" href="{{ base_url }}/core">Core Membership</a>
            </div>
            <div class="FullNav-category">
                <h5 class="FullNav-heading">Care</h5>
                <a class="FullNav-link" href="{{ base_url }}/care">Counseling</a>
                <a class="FullNav-link" href="{{ base_url }}/stephen">Stephen Ministry</a>
                <a class="FullNav-link" href="{{ base_url }}/celebrate">fpCelebrate</a>
                <a class="FullNav-link" href="{{ base_url }}/prayer">Prayer</a>
            </div>
            <div class="FullNav-category">
                <h5 class="FullNav-heading">Leadership Development</h5>
                <a class="FullNav-link" href="{{ base_url }}/leadership">Leadership Development</a>
                <a class="FullNav-link" href="http://fpleadershipcollege.com/">Faith Promise Leadership College</a>
            </div>
            <div class="FullNav-category">
                <h5 class="FullNav-heading">Giving</h5>
                <a class="FullNav-link" href="{{ base_url }}/give">Give Online</a>
                <a class="FullNav-link" href="{{ base_url }}/h4h">Heart for the Harvest</a>
                <a class="FullNav-link" href="https://www.dropbox.com/sh/0cyntzf5oem3htf/AACYgmKB0guKeKvXGgAoiLDIa?dl=0">Financial Statements</a>
            </div>
        </div>
    </div>
</transition>
{% endcache %}
