{% set linkUrl_1     = linkUrl_1 is defined ? linkUrl_1 : false %}
{% set linkText_1    = linkText_1 is defined ? linkText_1 : false %}

{% set linkUrl_2     = linkUrl_2 is defined ? linkUrl_2 : false %}
{% set linkText_2    = linkText_2 is defined ? linkText_2 : false %}

{% set background    = background is defined ? background : 'default' %}

{% set title         = title is defined ? title : '' %}
{% set text          = text is defined ? text : '' %}

{% set sectionId     = id is defined ? id : '' %}

{# Build the CSS class #}
{% set klass = 'Section' %}
{% set klass = klass ~ (background ? ' Section--' ~ background) %}

<section class="{{ klass }} {{ sectionId }}">

    <div class="Section-container">

        <div class="Section-copy">

            <h2 class="Section-title">{{ title }}</h2>

            <div class="Section-text">
                {% block text %}{% endblock %} {# text block #}
                {{ text | markdown }} {# text passed as param #}
            </div>

        </div>

        <div class="Section-content">{% block body %}{% endblock %}</div>

        <div class="Section-actions">
            {% if linkUrl_1 and linkText_1 %}
                <a class="Button" href="{{ linkUrl_1 }}">{{ linkText_1 }}</a>{% endif %}
            {% if linkUrl_2 and linkText_2 %}
                <a class="Button" href="{{ linkUrl_2 }}">{{ linkText_2 }}</a>{% endif %}
        </div>

    </div>

</section>