{% extends "_layout/layout.twig" %}

{% set header_image = craft.assets.id(67).first() %}

{% block content %}

    {# Templates that extend this one
    can output content here
    ============================== #}

    {% block page_content %}{% endblock %}

    <div class="GroupSearchHeader">
        <img
                class="GroupSearchHeader-image"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                sizes="100vw"
                srcset="
                            {{ craft.imageUrl.url(header_image, { width: 1920 }) }} 1920w,
                            {{ craft.imageUrl.url(header_image, { width: 1080 }) }} 1080w,
                            {{ craft.imageUrl.url(header_image, { width: 800 }) }} 800w,
                            {{ craft.imageUrl.url(header_image, { width: 480 }) }} 480w,
                            {{ craft.imageUrl.url(header_image, { width: 320 }) }} 320w,
                        ">
        <div class="GroupSearchHeader-overlay"></div>
        <div class="GroupSearchHeader-container">
            <h1 class="GroupSearchHeader-title">Find Nearby Groups</h1>
            <group-address-search></group-address-search>
        </div>
    </div>

    {% include 'sections/pages/page_content_matrix/_page_content_matrix.twig' %}

{% endblock %}