{% set title        = title is defined ? title : block['title'] is defined ? block.title : '' %}
{% set text         = text is defined ? text : block['text'] is defined ? block.text : '' %}
{% set align        = align is defined ? align : block['align'] is defined ? block.align : 'left' %}
{% set linkUrl_1    = linkUrl_1 is defined ? linkUrl_1 : block['linkUrl_1'] is defined ? block.linkUrl_1 : false %}
{% set linkText_1   = linkText_1 is defined ? linkText_1 : block['linkText_1'] is defined ? block.linkText_1 : false %}
{% set linkUrl_2    = linkUrl_2 is defined ? linkUrl_2 : block['linkUrl_2'] is defined ? block.linkUrl_2 : false %}
{% set linkText_2   = linkText_2 is defined ? linkText_2 : block['linkText_2'] is defined ? block.linkText_2 : false %}
{% set striped      = striped is defined ? striped : block['striped'] is defined ? block.striped : false %}
{% set videoUrl     = videoUrl is defined ? videoUrl : block['videoUrl'] is defined ? block.videoUrl : false %}

{% set section_class = 'Section--' ~ random(9999999) %}

<section class="VideoSection {{ section_class }} VideoSection--{{ align | default('left') }}">

    <div class="VideoSection-container">

        <div class="VideoSection-copy">

            <h2 class="VideoSection-title">{{ title }}</h2>
            <p class="VideoSection-text">{% block text %}{{ text }}{% endblock %}</p>

            {% if linkUrl_1 %}<a class="Section-button" href="{{ linkUrl_1 }}">{{ linkText_1 }}</a>{% endif %}
            {% if linkUrl_2 %}<a class="Section-button" href="{{ linkUrl_2 }}">{{ linkText_2 }}</a>{% endif %}

        </div>

        <div class="VideoSection-media">
            {% set videoSegments = videoUrl | split('/') %}
            {% set vimeoId = videoSegments | last %}
            {% set vimeoUrl = 'https://player.vimeo.com/video/' ~ vimeoId ~ '?title=0&byline=0&portrait=0&badge=0&autoplay=false' %}
            <div class="VideoPlayer">
                <iframe src="{{ vimeoUrl }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>

    </div>

</section>