{% set image                    = image is defined ? image : null %}
{% set title                    = title is defined ? title : '' %}
{% set subtitle                 = subtitle is defined ? subtitle : '' %}
{% set text                     = text is defined ? text : '' %}
{% set action_url               = action_url is defined ? action_url : '' %}
{% set action_text              = action_text is defined ? action_text : 'More Details' %}

{% if action_url %}
    {% set start_tag = '<a class="Card2" href="' ~ action_url ~ '">' %}
    {% set end_tag = '</a>' %}
{% else %}
    {% set start_tag = '<div class="Card2">' %}
    {% set end_tag = '</div>' %}
{% endif %}

{{ start_tag|raw }}

<div class="Card2-header">
    {% if image %}
        {#TODO: fix sizes#}
        <img
                class="Card2-image"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                sizes="(max-width: 759px) 100vw, (max-width: 1079px) 50vw, 33vw"
                srcset="
                    {{ craft.imageUrl.url(image, { width: 1920 }) }} 1920w,
                    {{ craft.imageUrl.url(image, { width: 1680 }) }} 1680w,
                    {{ craft.imageUrl.url(image, { width: 1280 }) }} 1280w,
                    {{ craft.imageUrl.url(image, { width: 800 }) }} 800w,
                    {{ craft.imageUrl.url(image, { width: 480 }) }} 480w,
                    {{ craft.imageUrl.url(image, { width: 320 }) }} 320w,
                ">
    {% endif %}
</div>
<div class="Card2-body">
    <h3 class="Card2-title">{{ title }}</h3>
    <div class="Card2-text">{{ text|raw }}</div>{# raw allows html, like svg icons #}
</div>
{% if action_url %}
    <div class="Card2-footer">
        <span class="Card2-action">{{ action_text }}</span>
    </div>
{% endif %}
{{ end_tag|raw }}