{% set params = {
'title': entry_item.title,
'text': entry_item.html,
} %}

<div class="VolunteerPosition">
    <h2 class="VolunteerPosition-title">{{ entry_item.title }}</h2>
    <p class="VolunteerPosition-title">{{ entry_item.html }}</p>
    <div class="VolunteerPosition-meta">
        {% if (entry_item.timeCommitment) %}<span>Ministry Area: {{ entry_item.volunteerArea[0].title }}</span>{% endif %}
        {% if (entry_item.availability) %}<span>Availability: {{ entry_item.availability }}</span>{% endif %}
        {% if (entry_item.timeCommitment) %}<span>Commitment: {{ entry_item.timeCommitment }}</span>{% endif %}
    </div>
    Skills:
    <ul class="VolunteerPosition-tags">
        {% for skill in entry_item.volunteerSkills %}
            <li class="VolunteerPosition-tag">{{ skill.title }}</li>
        {% endfor %}
    </ul>
</div>