{% set schedule = craft.entries({
section: 'serviceSchedules',
relatedTo: entry_item,
serviceScheduleEffectiveAt: '<= ' ~ now,
order: 'serviceScheduleEffectiveAt desc',
}).first() %}

{% set pastor = entry_item.campusPastor[0] ?? null %}

{% set text %}
    {% if (entry_item.excerpt) %}
        <p>{{ entry_item.excerpt }}</p>
    {% else %}
        <p>The {{ entry_item.title }} Campus is located at {{ entry_item.address }} and meets weekly during the following times.</p>
    {% endif %}
    <table class="ServiceTimes ServiceTimes--condensed" style="margin-bottom: 2em;">
        {% for day in schedule.serviceTimes %}
            <tr>
                <td class="ServiceTimes-date">{{ day.dayOfWeek.label|slice(0, 3) }}</td>
                <td>
                    {% for time in day.times %}
                        <span class="ServiceTimes-time">{{ time.startTime|date('g:i a') }}</span>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endset %}

{% set params = {
'image': entry_item.campusImage[0] ?? null,
'secondary_image': pastor and pastor.staffPhoto[0] ? pastor.staffPhoto[0] : null,
'secondary_image_caption': pastor ? pastor.title ~ ', Campus Pastor' : null,
'title': entry_item.area ?: entry_item.title,
'subtitle': entry_item.title ~ ' Campus',
'text': text,
'action_url': entry_item.theUrl ?: entry_item.url,
'action_text': entry_item.linkText ?: 'More Details'
} %}

{% include '_layout/components/card.twig' with params %}