{% set has_link_1           = block['linkUrl_1'] is defined and block.linkUrl_1 %}
{% set has_link_2           = block['linkUrl_2'] is defined and block.linkUrl_2 %}
{% set align                = block['align'] is defined ? block.align : 'left' %}
{% set striped_bg           = block['stripedBackground'] is defined ? block.stripedBackground : false %}
{% set video_url            = block['videoUrl'] is defined and block.videoUrl | length ? block.videoUrl : false %}
{% set image                = block['image'] is defined and block.image | length ? block.image[0] : false %}
{% set image_layout         = block['imageLayout'] is defined ? block.imageLayout : 'default' %}
{% set has_bg_image         = image and image_layout == 'background' %}
{% set has_floating_image   = image and image_layout == 'floating' and not video_url %}
{% set section_id           = 'matrix-block-' ~ block['id'] %}

{# Build the CSS class #}
{% set klass = 'TextSection TextSection--' ~ align %}
{% set klass = klass ~ (video_url or has_floating_image ? ' has-media') %}
{% set klass = klass ~ (has_bg_image ? ' has-bg') %}
{% set klass = klass ~ (striped_bg ? ' TextSection--striped') %}

<section class="{{ klass }} {{ section_id }}">

    {% if has_bg_image %}
        <div class="TextSection-background">
            <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    sizes="100vw"
                    srcset="
                        {{ image.url({ width: 1920 }) }} 1920w,
                        {{ image.url({ width: 1680 }) }} 1680w,
                        {{ image.url({ width: 1280 }) }} 1280w,
                        {{ image.url({ width: 800 }) }} 800w,
                        {{ image.url({ width: 480 }) }} 480w,
                        {{ image.url({ width: 320 }) }} 320w,
                ">
        </div>
        <div class="TextSection-overlay"></div>
    {% endif %}

    <div class="TextSection-container">

        {% if video_url or has_floating_image %}
            <div class="TextSection-media">

                {% if has_floating_image %}
                    <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            sizes="100vw"
                            srcset="
                        {{ image.url({ width: 1920 }) }} 1920w,
                        {{ image.url({ width: 1680 }) }} 1680w,
                        {{ image.url({ width: 1280 }) }} 1280w,
                        {{ image.url({ width: 800 }) }} 800w,
                        {{ image.url({ width: 480 }) }} 480w,
                        {{ image.url({ width: 320 }) }} 320w,
                ">
                {% endif %}

                {% if video_url %}
                    {% set videoSegments = block.videoUrl | split('/') %}
                    {% set vimeoId = videoSegments | last %}
                    {% set vimeoUrl = 'https://player.vimeo.com/video/' ~ vimeoId ~ '?title=0&byline=0&portrait=0&badge=0&autoplay=false' %}
                    <div class="VideoPlayer">
                        <iframe src="{{ vimeoUrl }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="TextSection-copy">

            <h2 class="TextSection-title">{{ block.blockTitle }}</h2>

            <div class="TextSection-text">{{ block.text | markdown }}</div>

            <div class="TextSection-actions">
                {% if has_link_1 %}
                    <a class="Button" href="{{ block.linkUrl_1 }}">{{ block.linkText_1 }}</a>{% endif %}
                {% if has_link_2 %}
                    <a class="Button" href="{{ block.linkUrl_2 }}">{{ block.linkText_2 }}</a>{% endif %}
            </div>

        </div>

    </div>

</section>