{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{#
|--------------------------------------------------------------------------
| Get global event
|--------------------------------------------------------------------------
#}

{% set nav_class = 'Nav--overlay' %}
{% set cache_key = 'home_page_' ~ (craft.request.isMobileBrowser() ? 'mobile' : 'desktop') %}

{% extends '_layout/layout.twig' %}

{% block content %}

    <!-- Cached with key: {{ cache_key }} -->

    {% cache globally using key cache_key %}

    {% set global_event = craft.entries({ type: 'globalEvent' }).order('expiryDate').first() %}

    {% if global_event %}

        <div id="Special" class="EventHero" style="background-image: url(/assets/temp.jpg)">
            <div class="EventHero-fadeup"></div>
            <div class="EventHero-container">
                <div class="EventHero-content">
                    <h2 class="EventHero-title">&quot;{{ global_event.title }}&quot;</h2>
                    <p class="EventHero-text">
                        {{ global_event.excerpt }}
                    </p>
                    <div class="EventHero-actions">
                        {% for action in global_event.actions %}
                            <a class="Button EventHero-action" href="{{ action.theUrl }}"><span class="u-hide-lt-480">{{ action.text }}</span><span class="u-hide-gte-480">{{ action.text }}</span></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <div class="HeaderVideo">
            {% if craft.request.isMobileBrowser() %}
                {% set home_page_image = craft.assets.id(3964).first() %}
                {% if home_page_image %}
                    <img
                            class="Hero-image"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            sizes="100vw"
                            srcset="
                    {{ craft.imageUrl.url(home_page_image, { width: 1920 }) }} 1920w,
                    {{ craft.imageUrl.url(home_page_image, { width: 1680 }) }} 1680w,
                    {{ craft.imageUrl.url(home_page_image, { width: 1280 }) }} 1280w,
                    {{ craft.imageUrl.url(home_page_image, { width: 800 }) }} 800w,
                    {{ craft.imageUrl.url(home_page_image, { width: 480 }) }} 480w,
                    {{ craft.imageUrl.url(home_page_image, { width: 320 }) }} 320w,
                ">
                {% endif %}
            {% else %}
                {% set home_page_video = craft.assets.id(1580).first() %}
                <home-page-video url="{{ home_page_video.url }}" :is-nav-open="is_nav_open"></home-page-video>
            {% endif %}
            <div class="HeaderVideo-overlay"></div>
            <div class="HeaderVideo-container">
                <h1 class="HeaderVideo-title">Welcome to<br>Faith Promise</h1>
                <div class="HeaderVideo-actions">
                    <a class="Button" href="/locations">Find a Location</a>
                    <a class="Button" href="http://online.faithpromise.org">Watch Online</a>
                </div>
            </div>
            <div class="HeaderVideo-cut"></div>
        </div>

    {% endif %}

    {% set latest_series = craft.entries({ type: 'series', with: 'seriesImageSquare' }).order('postDate desc').first() %}
    {% set latest_series_image = latest_series.seriesImageHome | length ? latest_series.seriesImageHome[0] : latest_series.seriesImageSquare[0] %}

    {% include '_layout/components/rise-over-image.twig' with {
    image: latest_series_image,
    title: latest_series.title,
    subtitle: 'Latest Series',
    text: latest_series.markdown,
    action_url: latest_series.url,
    action_text: 'More Info',
    css_class: 'RiseOverImage--gray RiseOverImage--flushTop',
    } %}

    <section class="Section2">
        <div class="Section2-container">
            <div class="Section2-header">
                <h2 class="Section2-title">News &amp; Events</h2>
            </div>
            <div class="Section2-body">
                <ul class="Cards2">
                    <li class="Cards2-item">
                        {% set new_here_image = craft.assets.id(4113).first() %}
                        {% include '_layout/components/card2.twig' with {
                        image: new_here_image,
                        title: 'New Here?',
                        text: 'Discover what it\'s like to attend on the weekend, and learn about our students and kids ministries.',
                        action_url: '/what-to-expect',
                        action_text: 'Times & Locations',
                        } %}
                    </li>
                    <li class="Cards2-item">
                        {% set events_image = craft.assets.id(4112).first() %}
                        {% include '_layout/components/card2.twig' with {
                        image: events_image,
                        title: 'Events',
                        text: 'There\'s a lot happening at Faith Promise. Check out these upcoming events.',
                        action_url: '/events',
                        action_text: 'View Events',
                        } %}
                    </li>
                    <li class="Cards2-item">
                        {% set social_image = craft.assets.id(4114).first() %}
                        {% include '_layout/components/card2.twig' with {
                        image: social_image,
                        title: 'Social Media',
                        text: 'Join the conversation on Facebook, Instagram, and Twitter.',
                        action_url: '/updates',
                        action_text: 'Follow Faith Promise',
                        } %}
                    </li>
                </ul>
            </div>
        </div>
    </section>

    {% set map_image = craft.assets.id(4111).first() %}

    {% include '_layout/components/rise-over-image.twig' with {
    image: map_image,
    title: 'One Church, Many Locations',
    subtitle: 'Times & Locations',
    text: 'Get times & directions to each of our campuses as well as online services. Join us this weekend. We\'d love to see you there!',
    action_url: '/locations',
    action_text: 'Find a Location',
    css_class: 'RiseOverImage--gray',
    } %}

    <div class="ConnectBar">
        <div class="ConnectBar-container">
            <div class="ConnectBar-header">
                <h5 class="ConnectBar-title">Get the Download</h5>
                <p class="ConnectBar-text">Connect with Faith Promise throughout the week.</p>
            </div>
            <a class="ConnectBar-item" href="/online">
                <svg>
                    <use xlink:href="/assets/icons.svg#cb_online"></use>
                </svg>
                <div class="ConnectBar-label">Online Campus</div>
            </a>
            <a class="ConnectBar-item" href="/updates">
                <svg>
                    <use xlink:href="/assets/icons.svg#cb_social"></use>
                </svg>
                <div class="ConnectBar-label">Social Media</div>
            </a>
            <a class="ConnectBar-item" href="http://get.theapp.co/9749">
                <svg>
                    <use xlink:href="/assets/icons.svg#cb_app"></use>
                </svg>
                <div class="ConnectBar-label">Mobile App</div>
            </a>
        </div>
    </div>

    {#<div class="ImageCards">#}
    {#<div class="ImageCards-container">#}
    {#<ul class="ImageCards-list">#}
    {#<li class="ImageCards-row">#}
    {#<a class="ImageCards-item" href="{{ latest_sermon.url }}">#}
    {#<img#}
    {#class="ImageCards-image"#}
    {#src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="#}
    {#sizes="50vw"#}
    {#srcset="#}
    {#{{ latest_sermon_image.url({ width: 1920 }) }} 1920w,#}
    {#{{ latest_sermon_image.url({ width: 1680 }) }} 1680w,#}
    {#{{ latest_sermon_image.url({ width: 1280 }) }} 1280w,#}
    {#{{ latest_sermon_image.url({ width: 800 }) }} 800w,#}
    {#{{ latest_sermon_image.url({ width: 480 }) }} 480w,#}
    {#{{ latest_sermon_image.url({ width: 320 }) }} 320w,#}
    {#">#}
    {#<span class="ImageCards-link" href="/">Latest Sermon</span>#}
    {#</a>#}
    {#</li>#}
    {#<li class="ImageCards-row">#}
    {#<a class="ImageCards-item" href="/events">#}
    {#<img#}
    {#class="ImageCards-image"#}
    {#src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="#}
    {#sizes="50vw"#}
    {#srcset="#}
    {#{{ events_image.url({ width: 1920 }) }} 1920w,#}
    {#{{ events_image.url({ width: 1680 }) }} 1680w,#}
    {#{{ events_image.url({ width: 1280 }) }} 1280w,#}
    {#{{ events_image.url({ width: 800 }) }} 800w,#}
    {#{{ events_image.url({ width: 480 }) }} 480w,#}
    {#{{ events_image.url({ width: 320 }) }} 320w,#}
    {#">#}
    {#<span class="ImageCards-link" href="/">News &amp; Events</span>#}
    {#</a>#}
    {#</li>#}
    {#</ul>#}
    {#</div>#}
    {#</div>#}

    {% endcache %}

    {#{{ entry.body }}#}

    {#<h2>Recent News</h2>#}
    {#<ul>#}
    {#{% for entry in craft.entries.section('news').limit(5).find() %}#}
    {#<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>#}
    {#{% endfor %}#}
    {#</ul>#}

{% endblock %}